* {margin: 0; padding: 0;}
body {
	background-image: url("bg.png");
	font-family: Tahoma;
}

.frame{
	background-color: rgba(0,128,0,0.);
	width: 750px;
	margin: auto;
}

h1{
	background-color: rgba(0,32,0,0.4);
	line-height: 40px;
	padding: 10px 10px 10px 10px;
}

h2 {
	line-height: 30px;
    border: 5px solid purple;
    padding: 10px 10px 10px 20px;
}

p{
	background-color: rgba(256,256,0,0.4);
	line-height: 20px;
	padding: 10px 0px 10px 10px;
}

.frame2 {
	background-color: rgba(0,128,0,0.5);
	width: 770px;
	height: 680px;
	margin: auto;
}